.kg-button{
    min-width: 80px;
}
input{
    width: 100%;
}
h1{
    font-weight: 700;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 20px;
}
.kg-text{
    text-align: left;
}
.kg-row{
    margin:10px 5px;
}